apiVersion: v1
kind: ConfigMap
metadata:
  name: spanner-config
data:
  spanner_project_id: GCP_PROJECT_ID # EDIT: Your GCP Project ID
  spanner_instance_id: SPANNER_INSTANCE_ID # EDIT: Your Spanner Instance ID
  spanner_database_id: SPANNER_DATABASE_ID # EDIT: Your Spanner Database ID
