apiVersion: v1
kind: ConfigMap
metadata:
  name: spanner-config
data:
  spanner_project_id: PROJECT_ID # EDIT: Your GCP Project ID
  spanner_instance_id: INSTANCE_ID # EDIT: Your Spanner Instance ID
  spanner_database_id: DATABASE_ID # EDIT: Your Spanner Database ID
