gcp_project = "PROJECT"

spanner_config = {
    instance_name     = "INSTANCE"
    database_name     = "DATABASE"
    configuration     = "regional-us-central1"
    display_name      = "gaming spanner instance"
    processing_units  = 100
    environment       = "staging"
}

backend_sa_config = {
    name     = "cymbal-games-backend"
    description     = "Cymbal Games backend service account"
}

gke_config = {
    cluster_name      = "CLUSTER"
    location          = "us-central1"
    resource_labels   = {
        environment = "staging"
    }
}

