gcp_project = "PROJECT"

spanner_config = {
    instance_name     = "sample-instance"
    database_name     = "sample-game"
    configuration     = "regional-us-central1"
    display_name      = "gaming spanner instance"
    processing_units  = 100
    environment       = "staging"
}

backend_sa_config = {
    name     = "sample-game-backend"
    description     = "Sample Game backend service account"
}

k8s_service_account_id    = "k8s-service-account"

gke_config = {
    cluster_name      = "sample-game-gke"
    location          = "us-central1"
    resource_labels   = {
        environment = "staging"
    }
}


